body {
    font-size: 15pt;
    background-color: #969696;
}
.space{
  width: 99%;
  min-height: 850px;
  margin:auto;
  margin-top: -30px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #ACACAC;
}
h1{
  text-align: Center;
  color:#360000;
}
.top{
  background-color:#3A0000;
  margin: auto;
  height: 75px;
  
  width: 100%;
}
.top img{
  margin-left:5%;
  margin-top: -10px;
  height: 100px;
}
.top ul{
  list-style: none;
  
  position: absolute;
  transform: translate(250px,-80px);
}
.top li{
  display: inline;
  margin-left: 15px;
}
.top a{
  color:#FFF5F5;  
 font-size:22px;
}.fim {
  background-color: transparent;
  color:rgb(51, 0, 0);
  margin: auto;
  bottom: 0;
  height: 27.5px;
  width: 100%;
}
.fim h5{
  
  text-align: center;
  
}

.rect{
  background-color: #0803031F;
  width: 50%;
  margin: auto;
  border-bottom: solid 3px rgba(27, 0, 0, 0.253);
  border-top: solid 1px rgba(27, 0, 0, 0.253);
  border-left: solid 1px rgba(27, 0, 0, 0.253);
  border-right: solid 3px rgba(27, 0, 0, 0.253);
  
}
.rect h1{
  font-size: 25px;
}
.rect p{
  text-align: justify;
}